SECRET_KEY=django-insecure-change-me-in-production-please
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3

CORS_ALLOWED_ORIGINS=http://localhost:3000

# SMS Backend: 'console' (prints to stdout) or 'arkesel' (real SMS)
SMS_BACKEND=console
ARKESEL_API_KEY=your-arkesel-api-key-here
ARKESEL_SENDER_ID=HostelHubu

# Paystack (test keys from dashboard)
PAYSTACK_SECRET_KEY=sk_test_your_key_here
PAYSTACK_PUBLIC_KEY=pk_test_your_key_here

# JWT config
JWT_ACCESS_TOKEN_LIFETIME_HOURS=1
JWT_REFRESH_TOKEN_LIFETIME_DAYS=14

# Media
MEDIA_ROOT=media
